/* Sahifadagi barcha keraksiz standart o'lchamlarni o'chiradi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
}

/* Kodlarni markazlashtiruvchi container */
.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Umumiy kodlar */
.shopBtn {
  padding: 16px 40px;
  background-color: #00B207;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 53px;
  border: none;
  transition: 0.7s;
}
.shopBtn:hover .rightArrow {
  transform: translateX(25px);
}
.shopBtn:active {
  transform: scale(0.9);
}



/* navbar-top boshlandi */

.navbar-top {
  max-width: 1920px;
  height: 42px;
  margin: 0 auto;
  background: #EDF2EE;
}

.navbar-top .container ,
.navbar-top .container .navbarLocation ,
.navbar-top .container .languageAndCurrency .languageAndCurrencyList {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
}


.navbar-top .container .navbarLocation .locationAddress .address ,
.navbar-top .container .languageAndCurrency .languageAndCurrencyList .languageAndCurrencyItem .language , 
.navbar-top .container .languageAndCurrency .languageAndCurrencyList .languageAndCurrencyItem .currency {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  color: #2B572E;
}

/* navbar-top tugadi */


/* navbar-bottom boshlandi */

.navbar-bottom {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #E6E6E6;
  height: 78px;
  padding: 20px 0;
}

.navbar-bottom .container .orderList ,
.navbar-bottom .container .orderList .orderItem .nav .navList ,
.navbar-bottom .container .orderList .orderItem .iconsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-bottom .container .orderList .orderItem .nav .navList .listItem .listItemLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 64px;
  font-family: 'Poppins';
  font-size: 14px;
  color: #808080;
}

.navbar-bottom .container .orderList .orderItem .nav .navList .listItem .listItemLink:hover {
  color: #1A1A1A;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem .phoneItem {
  gap: 8px;
  width: 145px;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem .phoneItem .phoneImage {
  float: left;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem .phoneItem .phoneNumber {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: #1A1A1A;
  padding: 5px 0 5px 40px;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem {
  padding-left: 20px;
}

/* navbar-bottom tugadi */

/*  ////////////////////////////////////////////////////////////////////// */

/* healthy-section boshlandi */

.healthy-section {
  max-width: 1920px;
  height: 645px;
  margin: 0 auto;
  background: url(../images/mainBgImage.png) no-repeat;
}

.healthy-section .container .wrapper {
  width: 1300px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
}

.healthy-section .container .wrapper .healthyImage img {
  width: 742px;
  height: 498px;
}

.healthy-section .container .wrapper .healthlyText {
  width: 590px;
  padding-left: 38px;
}

.healthy-section .container .wrapper .healthlyText .welcomeToShoperyText {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #00B307;
  padding-top: 85px;
}

.healthy-section .container .wrapper .healthlyText .organicFoodText {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 72px;
  color: #1A1A1A;
  padding: 8px 0;
}

.healthy-section .container .wrapper .healthlyText .saleUp {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 32px;
  color: #1A1A1A;
  padding: 28px 0 12px;
}

.healthy-section .container .wrapper .healthlyText .saleUp .discountRate {
  font-weight: 900;
  color: #FF8A00;
}

.healthy-section .container .wrapper .healthlyText .foodPhotoInfo {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}

.healthy-section .container .wrapper .healthlyText .shopBtn {
  margin-top: 32px;
}

.healthy-section .leaf {
  position: absolute;
  left: 1250px;
  top: 660px;
}

/* healthy-section tugadi */