/* Sahifadagi barcha keraksiz standart o'lchamlarni o'chiradi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';


  font-family: 'Poppins', sans-serif;

}

.last-news {
  background: url(../images/BG.png), #F2F2F2;

}


/* Kodlarni markazlashtiruvchi container */
.container {
  max-width: 1320px;
  margin: 0 auto;


}


.last-news_name-text1 {
  font-family: 'Segoe Script';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #00B307;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 80px;
}

.last-news_name-text2 {
  font-family: 'Poppins';
}

/* Umumiy kodlar */
.shopBtn {
  padding: 16px 40px;
  background-color: #00B207;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 53px;
  border: none;
  transition: 0.7s;
}

.shopBtn:hover .rightArrow {
  transform: translateX(25px);
}

.shopBtn:active {
  transform: scale(0.9);
}

/* navbar-top boshlandi */

.navbar-top {
  max-width: 1920px;
  height: 42px;
  margin: 0 auto;
  background: #EDF2EE;
}

.navbar-top .container,
.navbar-top .container .navbarLocation,
.navbar-top .container .languageAndCurrency .languageAndCurrencyList {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
}


.navbar-top .container .navbarLocation .locationAddress .address,
.navbar-top .container .languageAndCurrency .languageAndCurrencyList .languageAndCurrencyItem .language,
.navbar-top .container .languageAndCurrency .languageAndCurrencyList .languageAndCurrencyItem .currency {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  color: #2B572E;
}

/* navbar-top tugadi */


/* navbar-bottom boshlandi */

.navbar-bottom {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #E6E6E6;
  height: 78px;
  padding: 20px 0;
}

.navbar-bottom .container .orderList,
.navbar-bottom .container .orderList .orderItem .nav .navList,
.navbar-bottom .container .orderList .orderItem .iconsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-bottom .container .orderList .orderItem .nav .navList .listItem .listItemLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 64px;
  font-family: 'Poppins';
  font-size: 14px;
  color: #808080;
}

.navbar-bottom .container .orderList .orderItem .nav .navList .listItem .listItemLink:hover {
  color: #1A1A1A;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem .phoneItem {
  gap: 8px;
  width: 145px;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem .phoneItem .phoneImage {
  float: left;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem .phoneItem .phoneNumber {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: #1A1A1A;
  padding: 5px 0 5px 40px;
}

.navbar-bottom .container .orderList .orderItem .iconsList .iconsItem {
  padding-left: 20px;
}

/* navbar-bottom tugadi */

/*  ////////////////////////////////////////////////////////////////////// */

/* healthy-section boshlandi */

.healthy-section {
  max-width: 1920px;
  height: 645px;
  margin: 0 auto;
  background: url(../images/mainBgImage.png) no-repeat;
}

.healthy-section .container .wrapper {
  width: 1300px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
}

.healthy-section .container .wrapper .healthyImage img {
  width: 742px;
  height: 498px;
}

.healthy-section .container .wrapper .healthlyText {
  width: 590px;
  padding-left: 38px;
}

.healthy-section .container .wrapper .healthlyText .welcomeToShoperyText {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #00B307;
  padding-top: 85px;
}

.healthy-section .container .wrapper .healthlyText .organicFoodText {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 72px;
  color: #1A1A1A;
  padding: 8px 0;
}

.healthy-section .container .wrapper .healthlyText .saleUp {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 32px;
  color: #1A1A1A;
  padding: 28px 0 12px;
}

.healthy-section .container .wrapper .healthlyText .saleUp .discountRate {
  font-weight: 900;
  color: #FF8A00;
}

.healthy-section .container .wrapper .healthlyText .foodPhotoInfo {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}

.healthy-section .container .wrapper .healthlyText .shopBtn {
  margin-top: 32px;
}

.healthy-section .leaf {
  position: absolute;
  left: 1250px;
  top: 660px;
}

/* healthy-section tugadi */


/**** Featuredning pastki qismi  ****/
.featured__text__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.featured__text__container .featured__text__box__1 h1 {
  font-family: 'Poppins';

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;

  text-align: center;
  color: #1A1A1A;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 10px;
  margin-bottom: 45px;
}

.last-news_box1-border {
  width: 424px;
  height: 324px;
  background: #999999;
  border-radius: 8px 8px 0px 0px;

}

.last-news_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 25px;

}

.last-news_box1-border-date {
  position: absolute;
  width: 58px;
  height: 58px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-top: 245px;
  margin-left: 25px;
}

.last-news_box1-border-date_num {
  width: 20px;
  height: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #0b0a0a;
  margin: 5px auto;
}

.last-news_box1-border-date_text {
  width: 28px;
  height: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #808080;
  margin: -5px auto 0 auto;
}

.last-news_box1-text-header {
  display: flex;
  margin-top: 25px;

}

.text-header3 {
  display: flex;
  margin-left: 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #666666;
  flex: none;
  order: 1;
  flex-grow: 0;
  gap: 6px;


}

.last-news_box1-text-name {
  width: 376px;
  height: 54px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1A1A1A;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 24px;
  margin-top: 8px;
}

.last-news_box1-text-end {
  display: flex;
  margin-left: 25px;
  gap: 14px;
  padding-bottom: 20px;
}

.text {
  width: 87px;
  height: 19px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #00B307;
  flex: none;
  order: 0;
  flex-grow: 0;

}

.last-news_box1-text {
  margin-bottom: 80px;
  background-color: white;
  margin-top: -5px;
  padding-top: 8px;
  color: #1A1A1A;
}







.featured__text__container .featured__text__box__2 .viewbutton {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #00B307;
  border: none;
  padding: 0px;
  background-color: white;
  cursor: pointer;
}

.viewbutton img {
  margin-left: 8px;
  margin-bottom: -3px;
  width: 20px;
}

.featured__boxes__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.featured__box {
  width: 312px;
  height: 407px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  transition: all 1s ease;

}

.featured__box__top {
  margin: 5px;
  background-image: url(../images/Featured\ products\ img.png);
  width: 302px;
  height: 302px;
  position: relative;
}

.featured__box__top__left {
  top: 11px;
  left: 11px;
  position: absolute;
}

.featured__box__bottom__left h3 {
  margin-top: 20px;
  margin-left: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4D4D4D;
  transition: all 1s ease;
}

.featured__box__bottom__left h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1A1A1A;
  margin-left: 16px;
}

.featured__box__bottom__left h4 span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration-line: line-through;
  color: #999999;
}

.featured__box__bottom__left ul {
  display: flex;
  margin-left: 16px;
  gap: 2.25px;
  cursor: pointer;
}

.featured__box__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.featured__box__bottom__right {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease;
}

.featured__box__bottom__right .featured__bag {
  border: none;
  cursor: pointer;
  transition: all 1s ease;
  width: 18px;
  height: 17px;
}

.featured__bag img {
  transition: all 1s ease;
}

.featured__heart {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border: 1px solid #F2F2F2;
  cursor: pointer;
}

.featured__heart img {
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
  cursor: pointer;
}

.featured__box label input {
  display: none;
}

.featured__eye {
  position: absolute;
  background: #FFFFFF;
  top: 61px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border: 1px solid #F2F2F2;
  cursor: pointer;
}

.featured__eye img {
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
  cursor: pointer;
}

.featured__box:hover {
  background: #FFFFFF;
  border: 1px solid #2C742F;
  box-shadow: 0px 0px 12px rgba(32, 181, 38, 0.32);
  border-radius: 8px;
}

.featured__box:hover .featured__box__bottom__left h3 {
  color: #2C742F;
}

.featured__box__top__right {
  opacity: 0;
  cursor: none;
  transition: all 1s ease;
}

.featured__box:hover .featured__box__top__right {
  opacity: 1;
  cursor: pointer;
}

.featured__box:hover .featured__bag img,
.featured__box:hover .featured__box__bottom__right {
  background: #00B307;
}



/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ shop_categories_2-part boshlandi \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.shop_categories .shop_categories_2-part {
  display: flex;

}


.shop_categories .shop_categories_2-part_photo1 img {

  margin: 51px 24px 137px 0px;
  width: 276px;
  height: 400px;
  left: 300px;
  top: 80px;
  box-shadow: 0px 0px 10px green;

}

.shop_categories .shop_categories_2-part_photo1 img:hover {
  transform: scale(1.03);
}


.shop_categories .shop_categories_2-part_photo2 img {

  margin: 51px 40px 80px 0px;
  width: 444px;
  height: 457px;
  left: 600px;
  top: 80px;
  box-shadow: 0 0 10px green;
}

.shop_categories .shop_categories_2-part_photo2 img:hover {
  transform: scale(1.03);
}

.shop_categories_2-part_text_bag {

  margin: 67px 140px 27px 0px;
  width: 389px;
  height: 96px;
  left: 0px;
  top: 0px;
<<<<<<< HEAD
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #1A1A1A;
=======
>>>>>>> b1bda63d36bd7313b9c9e0a95ab42f66c27e3b10

}

.shop_categories_2-part_text_small_1 b {

  margin: 0px 300px 10px 12px;
  width: 500px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1A1A1A;

}

.shop_categories_2-part_text_small_1 p {

  margin: 0px 302px 26px 34px;
  width: 500px;
  height: 63px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #808080;

}


.shop_categories_2-part_text_small_2 {
  margin-top: 10px;

}

.shop_categories_2-part_text_small_1 {
  display: flex;
}

.shop_categories_2-part_text_small_2 {
  display: flex;
}

.shop_categories_2-part_text_small_2 b {

  margin: 0px 296px 10px 12px;
  width: 504px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1A1A1A;
}

.shop_categories_2-part_text_small_2 p {

  margin: 0px 300px 26px 34px;
  width: 504px;
  height: 63px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #808080;

}

.shop_categories_2-part_text_small_button button {

  margin: 0px 644px 96px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 16px;
  width: 192px;
  height: 51px;
  background: #00B307;
  border-radius: 43px;

}

.shop_categories_2-part_text_small_button button .button1 {
  max-width: 81px;
  height: 19px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}


.shop_categories_2-part_text_small input:active {

  border-radius: 100%;
  cursor: pointer;
  transform: scale(1.4);


}

.shop_categories_2-part_text_small_button:active {
  transform: scale(0.95);

}


.shop_categories_2-part_text_small_1 .input {
  margin-top: 10px;

}

.shop_categories_2-part_text_small input {
  width: 23px;
  height: 23px;

}

/* Testimonial qisimi boshlandi */

.testimonial{
  background-image: url(../images/Testimonials.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1920px;
  height: 504px;
}
.testimonial .container{
/*  background-position-x: 0px;*/
  /*background-repeat: no-repeat;*/
  width: 1920px;
  height: 504px;
}
.testimonial .container>.hug{
  width: 1400px;
  height: 67px;
  padding-top: 3px;
}
.testimonial .container .hug .hug-hug {
  height: 65px;
  
}
.testimonial .container .hug .hug-hug .left {
  margin: 0 30px 0 580px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: inline-flex;
  /*border: 1px solid #000;*/
  padding: 2px;

}
.testimonial .container .hug .hug-hug .right {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: inline-flex;
  /*border: 1px solid #000;*/
  /*background: #1A1A1A;*/
  padding: 2px;
  transform: rotate(180deg);
}
.testimonial .container .hug .hug-hug .left :hover {
  background: green;
}
.testimonial .container .hug .hug-hug .right :hover {
  background: green;
}


.testimonial .container .hug .hug-hug h1{
  width: 122px;
  height: 19px;
  font-family: 'Segoe Script';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #00B307;
  flex: none;
  order: 0;
  flex-grow: 0;
 /* margin-left: -150px;*/
  margin-top: 70px;
  margin-bottom: 0;
}
.testimonial .container .hug .hug-hug p{
  /*margin-left: -150px;*/
  margin-bottom: 70px;
  margin-top: 0;
  width: 513px;
  height: 48px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #1A1A1A;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: inline-flex;
}
.testimonial .container .hug .card img{
  width: 32px;
  height: 26px;
  color: #00B307;
  opacity: 0.3;
  margin: -40px -25px 30px;

}
.testimonial .container .hug .card .card-item {
  height: 70px;
  width: 376px;
/*  left: 24px;*/
  top: 66px;
  border-radius: nullpx;
  /*margin-left: 30px;*/

}
.testimonial .container .hug .card .card-item .profil {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #333;
  display: inline-block;
}
.testimonial .container .hug .card .card-item .profill{
  width: 106px;
  height: 40px;
  display: inline-block;
  margin-top: 50px;
}
.testimonial .container .hug .card .card-item .profill h5{
  margin: 0;
  margin-top: 10px;
}
.testimonial .container .hug .card {
  height: 239px;
  width: 424px;
  /*left: 0px;*/
  top: 0px;
  border-radius: 8px;
  padding: 51px;
  display: inline-flex;
/*  margin: 60px 0 70px -150px;*/
  margin-top: 60px;
  margin-bottom: 70px;
  background-color: #FFFFFF;
}


.testimonial .container .hug .card2 img{
  width: 32px;
  height: 26px;
  color: #00B307;
  opacity: 0.3;
  margin: -40px -25px 30px;

}
.testimonial .container .hug .card2 .card-item {
  height: 70px;
  width: 376px;
  left: 24px;
  top: 66px;
  border-radius: nullpx;
  /*margin-left: 30px;*/

}
.testimonial .container .hug .card2 .card-item .profil{
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #333;
  display: inline-block;
}
.testimonial .container .hug .card2 .card-item .profill{
  width: 136px;
  height: 40px;
  display: inline-block;
  margin-top: 50px;

}
.testimonial .container .hug .card2 .card-item .profill h5{
  margin: 0;
  margin-top: 10px;
}
.testimonial .container .hug .card2 {
  height: 239px;
  width: 424px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 51px;
  display: inline-flex;
  background-color: #FFFFFF;

}



.testimonial .container .hug .card3 img{
  width: 32px;
  height: 26px;
  color: #00B307;
  opacity: 0.3;
  margin: -40px -25px 30px;
}
.testimonial .container .hug .card3 .card-item {
  height: 70px;
  width: 376px;
  left: 24px;
  top: 66px;
  border-radius: nullpx;
  /*margin-left: 30px;*/

}
.testimonial .container .hug .card3 .card-item .profil{
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: #333;
  display: inline-block;
}
.testimonial .container .hug .card3 .card-item .profill{
  width: 120px;
  height: 40px;
  display: inline-block;
  margin-top: 50px;

}
.testimonial .container .hug .card3 .card-item .profill h5{
  margin: 0;
  margin-top: 10px;
}
.testimonial .container .hug .card3 {
  height: 239px;
  width: 424px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 51px;
  display: inline-flex;
  background-color: #FFFFFF;


}

.testimonial .container .hug .card .card-item ul{
  display: flex;
  margin-left: 236px;
  margin-top: -1px;
  gap: 30px;
  cursor: pointer;
  list-style: none;
}
.testimonial .container .hug .card2 .card-item ul{
  display: flex;
  margin-left: 236px;
  margin-top: -1px;
  gap: 30px;
  cursor: pointer;
  list-style: none;

}
.testimonial .container .hug .card3 .card-item ul{
  display: flex;
  margin-left: 236px;
  margin-top: -1px;
  gap: 30px;
  cursor: pointer;
  list-style: none;

}

/* Testimonial qisimi tugadi */


<<<<<<< HEAD
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ shop_categories_2-part tugadiii \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

>>>>>>>b7a78fedd868aa738ec1c210cc72566b8acdb4a1=======
=======
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ shop_categories_2-part tugadiii \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
>>>>>>> b1bda63d36bd7313b9c9e0a95ab42f66c27e3b10
