/* Sahifadagi barcha keraksiz standart o'lchamlarni o'chiradi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
}

/* Kodlarni markazlashtiruvchi container */
.container {
  max-width: 1320px;
  margin: 0 auto;
}
